*.gif
*.pyc
__pycache__/*
*.egg-info/
.idea/
scratch/
node_modules
bower_components
hdf5/
draft.py
.vscode/
images/
images_stored/
camera_calib/mujoco_gts/
.DS_Store
penn_baxter_left/
berkeley_sawyer/
baxter
kuka_calibration
widowx_calibration